@media print {
  .step {
    display: block !important;

    /* A4 Size */
    width: 29.7cm;
    /* make a bit smaller than 21px to leave some space after */
    /*min-height: 21cm;*/
    min-height: 20.9cm;

    margin: 0;
    padding: 40px 60px;
    /*padding: 30px;*/
    border: 0;
    box-shadow: none;
    page-break-after: always;
    border-radius: 0;
  }

  .step.active {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .impress-enabled .step {
    opacity: 1;
  }

  body {
    -webkit-print-color-adjust: exact;
    margin: 0 !important;
    padding: 0 !important;
  }

  body:before {
    display: none;
  }

  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  @page {
    size: A4 landscape;
    margin: 0;
  }

  .print-only {
    display: block;
  }

  .step:first-child {
    /*margin-top: 15px;*/
    /*margin-top: 0px;*/
  }

  .step {
    margin: 0 auto;
    /*margin: 14px auto 18px auto;*/
  }

  .impress-not-supported .step {
  }

  .impress-not-supported .step {
    box-shadow: none;
  }

  .css,
  .js,
  .html,
  .key,
  .browser {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
  }

  .navigation-actions {
    display: none;
  }

  .delayed {
    opacity: 1;
  }
}

body.print {
  background: transparent;
  padding: 10px;
}
body.print:before {
  display: none;
}
.print .step {
  background-color: transparent;
  /* A4 Size */
  width: 29.7cm;
  min-height: 20.9cm;
  margin: 0 auto 0.1cm auto;
  padding: 40px 60px;
  border-radius: 0;
}
.print .step pre {
  line-height: 1.2em;
}
.print .live-example {
  line-height: 1.1em;
}

.print .step a {
  background: transparent;
}
