@media print {
  .step {
    display: block !important;

    /* A4 Size */
    width: 29.7cm;
    min-height: 21cm;

    margin: 0;
    padding: 40px 60px;
    /*padding: 30px;*/
    border: 0;
    box-shadow: none;
    page-break-after: always;
    border-radius: 0;
  }

  .step.active {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .impress-enabled .step {
    opacity: 1;
  }

  body {
    -webkit-print-color-adjust: exact;
    margin: 0;
    padding: 0;
  }

  body:before {
    display: none;
  }

  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  @page {
    size: A4 landscape;
    margin: 0;
  }

  .print-only {
    display: block;
  }

  .step:first-child {
    /*margin-top: 15px;*/
    /*margin-top: 0px;*/
  }

  .step {
    margin: 0 auto;
    /*margin: 14px auto 18px auto;*/
  }

  .impress-not-supported .step {
  }

  .impress-not-supported .step {
    box-shadow: none;
  }

  .css,
  .js,
  .html,
  .key,
  .browser {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
  }

  .navigation-actions {
    display: none;
  }
}
