body:before {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 146px;
  height: 36px;
  background-image: url("../images/fastrackit-logo-small.png");
  background-position: bottom 5px left 5px;
  background-repeat: no-repeat;
}

.slide {
  background-image: url("../images/fastrackit-logo-small.png");
  background-position: bottom 5px left 5px;
  background-repeat: no-repeat;
}
.slide.no-logo {
  background-image: none;
}

h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 15px;
  font-weight: bold;
  color: #045ea5;
}
h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
  color: #2196f3;
}
h3 {
  color: #2196f3;
}
ul {
  list-style: square inside;
}
li {
  margin-left: 15px;
}
ol {
  list-style: decimal;
}
a {
  text-decoration: underline;
}
a:hover {
  color: darkblue;
}
.color-white {
  color: white;
}
.hidden {
  display: none;
}
.bold {
  font-weight: bold;
}
.align-r {
  text-align: right;
}
.float-r {
  float: right;
}
.block {
  display: block;
}
.line-space {
  margin: 15px 0;
}
.footnote {
  position: absolute;
  bottom: 35px;
  right: 50px;
  font-size: 0.7em;
  padding-left: 40px;
}
.live-example {
  padding: 5px;
  border: 1px dotted #c57209;
  background-color: aliceblue;
}
.practice {
  min-height: 32px;
  padding-left: 40px;
  background: url("../images/pencil2.png") left center no-repeat;
}
.margin-left-50 {
  margin-left: 50px;
}
.margin-t-50 {
  margin-top: 50px;
}

#start h1 {
  text-align: center;
  display: block;
}
#start h1,
#title h1 {
  font-size: 2em;
  line-height: 1.5;
}

#start h1.size-sm {
  font-size: 1.5em;
}
.middle-h {
  margin: 150px 0;
}
.middle-2 {
  margin: 100px 0 50px 0;
}

.step.active {
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.anim-fade .step {
  opacity: 0;
}

.step.active:not(.slide) {
  background: rgba(255, 255, 255, 0.3);
}

.keyword {
  font-family: "Droid Sans";
  letter-spacing: 0;
}

.css,
.js,
.html,
.key,
.browser {
  font-family: "Droid Sans";
  display: inline-block;
  padding: 6px 10px 3px 10px;
  text-shadow: none;
  letter-spacing: 0;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
}

.html {
  background: -webkit-gradient(linear, left top, left bottom, from(#4f4), to(#afa));
  background-color: #4f4;
  background: -moz-linear-gradient(left top, #4f4, #afa);
}

h1.html {
  padding: 6px 30px 3px 30px;
}

.polaroid-picture {
  border: 2px solid #222222;
  margin: 10px;
  padding: 10px 10px 50px 10px;
  display: inline-block;
}
.small {
  font-size: 0.7em;
}

.big-text {
  font-size: 140px;
  line-height: 140px;
}

.step pre {
  font-size: 24px;
  line-height: 1.5em;
  text-align: left;
  margin: 0.5em 0 0.5em 0 !important;
}

.impress-not-supported .step {
  width: 900px;
  min-height: 713px;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 40px 60px;
}
#refs ul {
  background: rgba(255, 255, 255, 0.7);
}
#refs .link {
  font-size: 0.9em;
  line-height: 1em;
}

.step.fit {
  padding: 40px 5px;
}

pre.fs-22 {
  font-size: 22px;
}
pre.fs-20 {
  font-size: 20px;
}

.impress-enabled .enable-events {
  pointer-events: all;
}

#toc ol {
  font-size: 0.9em;
}
#toc li {
  margin-bottom: 2px;
}
#toc a {
  text-decoration: none;
  display: block;
  padding: 0 0.5em;
}
#toc a:after {
  content: attr(data-page);
  position: absolute;
  right: 50px;
  padding: 10px;
  font-size: 0.6em;
  color: gray;
}

.navigation-actions {
  width: 65px;
  padding: 10px;
  opacity: 0.2;
  position: fixed;
  left: 10px;
  top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.5s;
  /*font-size: 0.6em;*/
  background: #d7d7d7;
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.navigation-actions:hover {
  opacity: 0.9;
  /*font-size: 1em;*/
}
.navigation-actions a {
  padding: 3px 5px;
  display: inline-block;
  text-decoration: none;
}
.navigation-actions div {
  margin-top: 10px;
}
.navigation-actions .toc {
  width: 65px;
}
.navigation-actions .btn {
  /*min-height: 20px;*/
  padding: 6px 5px;
}
.navigation-actions a {
  min-width: 20px;
  margin: 2px 2px 0 0;
  text-align: center;
}
.navigation-actions a.present {
  color: #fff;
  background: #3b8dbd;
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5);
  font-weight: bold;
}

.pagination .step:after {
  content: " (" attr(data-current-page) " / " attr(data-total-pages) ")";
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 10px;
  font-size: 0.6em;
  color: gray;
}

.pagination .no-pagination.step:after {
  display: none;
}

.folder {
  border: 2px solid #2196f3;
  background: #f5f5f5;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.fa-ul {
  margin-left: 1.5em;
}
.fa-ul > li {
  padding-top: 5px;
}
.git-add li {
  color: #036a07;
}
.git-add li.gitignore {
  color: gray;
}

.cards {
  display: flex;
  flex-direction: row;
}
.cards > * {
  flex: 1;
}

/* custom css for pages */
.layouts-demo .live-example * {
  font-size: 16px;
}

.emoji {
  font-weight: normal;
}
.icon {
  color: #0076b8;
  font-style: normal;
}
.select {
  color: white;
  background-color: #0076b8;
  padding: 2px 6px;
}

.blink_me {
  animation: blinker 2.4s linear infinite;
  /* font-weight: bold; */
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
